body{
    background-image: url(https://img.freepik.com/free-photo/cloud-forest-landscape_23-2151794637.jpg?semt=ais_hybrid);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: burlywood;
}